<!-- Note :
   - You can modify the font style and form style to suit your website. 
   - Code lines with comments Do not remove this code are required for the form to work properly, make sure that you do not remove these lines of code. 
   - The Mandatory check script can modified as to suit your business needs. 
   - It is important that you test the modified form before going live.
   - Do not remove captcha and other form elements that are necessary for the form to work.  -->
<div id='crmWebToEntityForm' class='zcwf_lblLeft crmWebToEntityForm' style='background-color: white;color: black;max-width: 750px;'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
   <META HTTP-EQUIV ='content-type' CONTENT='text/html;charset=UTF-8'>
   <form action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads5480881000001366769 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory5480881000001366769()' accept-charset='UTF-8'>
 <input type='text' style='display:none;' name='xnQsjsdp' value='cb3224e2bbbd9e19a0e10ecaa4931ddacaceb973cee42e9bd7e36fa287c7aedb'></input> 
 <input type='hidden' name='zc_gad' id='zc_gad' value=''></input> 
 <input type='text' style='display:none;' name='xmIwtLD' value='e8d7d99ebb2df64f2169d328d2e43f3d440762495e984cb0829e9bc85d42da15'></input> 
 <input type='text'  style='display:none;' name='actionType' value='TGVhZHM='></input>
 <input type='text' style='display:none;' name='returnURL' value='https&#x3a;&#x2f;&#x2f;www.medyu.com&#x2f;contact-us' > </input>
	 <!-- Do not remove this code. -->
	 <input type='text' style='display:none;' id='ldeskuid' name='ldeskuid'></input>
	 <input type='text' style='display:none;' id='LDTuvid' name='LDTuvid'></input>
	 <!-- Do not remove this code. -->
<style>
html,body{
	margin: 0px;
}
#crmWebToEntityForm.zcwf_lblLeft {
	width:100%;
	padding: 25px;
	margin: 0 auto;
	box-sizing: border-box;
}
#crmWebToEntityForm.zcwf_lblLeft * {
	box-sizing: border-box;
}
#crmWebToEntityForm{text-align: left;}
#crmWebToEntityForm * {
	direction: ltr;
}
.zcwf_lblLeft .zcwf_title {
	word-wrap: break-word;
	padding: 0px 6px 10px;
	font-weight: bold;
}
.zcwf_lblLeft .zcwf_col_fld input[type=text], .zcwf_lblLeft .zcwf_col_fld textarea {
	width: 60%;
	border: 1px solid #c0c6cc !important;
	resize: vertical;
	border-radius: 2px;
	float: left;
}
.zcwf_lblLeft .zcwf_col_lab {
	width: 30%;
	word-break: break-word;
	padding: 0px 6px 0px;
	margin-right: 10px;
	margin-top: 5px;
	float: left;
	min-height: 1px;
}
.zcwf_lblLeft .zcwf_col_fld {
	float: left;
	width: 68%;
	padding: 0px 6px 0px;
	position: relative;
	margin-top: 5px;
}
.zcwf_lblLeft .zcwf_privacy{padding: 6px;}
.zcwf_lblLeft .wfrm_fld_dpNn{display: none;}
.dIB{display: inline-block;}
.zcwf_lblLeft .zcwf_col_fld_slt {
	width: 60%;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 4px;
	font-size: 16px;
	float: left;
	resize: vertical;
	padding: 2px 5px;
}
.zcwf_lblLeft .zcwf_row:after, .zcwf_lblLeft .zcwf_col_fld:after {
	content: '';
	display: table;
	clear: both;
}
.zcwf_lblLeft .zcwf_col_help {
	float: left;
	margin-left: 7px;
	font-size: 16px;
	max-width: 35%;
	word-break: break-word;
}
.zcwf_lblLeft .zcwf_help_icon {
	cursor: pointer;
	width: 16px;
	height: 16px;
	display: inline-block;
	background: #fff;
	border: 1px solid #c0c6cc;
	color: #c1c1c1;
	text-align: center;
	font-size: 11px;
	line-height: 16px;
	font-weight: bold;
	border-radius: 50%;
}
.zcwf_lblLeft .zcwf_row {margin: 15px 0px;}
.zcwf_lblLeft .formsubmit {
	margin-right: 5px;
	cursor: pointer;
	color: var(--baseColor);
	font-size: 16px;
}
.zcwf_lblLeft .zcwf_privacy_txt {
	width: 90%;
	color: rgb(0, 0, 0);
	font-size: 16px;
	font-family: Verdana;
	display: inline-block;
	vertical-align: top;
	color: var(--baseColor);
	padding-top: 2px;
	margin-left: 6px;
}
.zcwf_lblLeft .zcwf_button {
	font-size: 16px;
	color: var(--baseColor);
	border: 1px solid #c0c6cc;
	padding: 3px 9px;
	border-radius: 4px;
	cursor: pointer;
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.zcwf_lblLeft .zcwf_tooltip_over{
	position: relative;
}
.zcwf_lblLeft .zcwf_tooltip_ctn{
	position: absolute;
	background: #dedede;
	padding: 3px 6px;
	top: 3px;
	border-radius: 4px;word-break: break-word;
	min-width: 100px;
	max-width: 150px;
	color: var(--baseColor);
	z-index: 100;
}
.zcwf_lblLeft .zcwf_ckbox{
	float: left;
}
.zcwf_lblLeft .zcwf_file{
	width: 55%;
	box-sizing: border-box;
	float: left;
}
.clearB:after{
	content:'';
	display: block;
	clear: both;
}
@media all and (max-width: 750px) {
	.zcwf_lblLeft .zcwf_col_lab, .zcwf_lblLeft .zcwf_col_fld {
		width: auto;
		float: none !important;
	}
	.zcwf_lblLeft .zcwf_col_help {width: 40%;}
}
</style>
<div class='zcwf_title' style='max-width: 750px;color: black;'>Contact Us</div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:16px; font-family: Verdana;'><label for='First_Name'>Name<span style='color:red;'>*</span></label></div><div class='zcwf_col_fld'><input type='text' id='First_Name' name='First Name' maxlength='40'></input><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:16px; font-family: Verdana;'><label for='Last_Name'>Surname<span style='color:red;'>*</span></label></div><div class='zcwf_col_fld'><input type='text' id='Last_Name' name='Last Name' maxlength='80'></input><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:16px; font-family: Verdana;'><label for='LEADCF13'>Preferred contact channel<span style='color:red;'>*</span></label></div><div class='zcwf_col_fld'><select class='zcwf_col_fld_slt' id='LEADCF13' name='LEADCF13'  >
			<option value='-None-'>-None-</option>
			<option value='Email'>Email</option>
			<option value='Phone'>Phone</option>
		<option selected value='Whatsapp'>Whatsapp</option>
		</select><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:16px; font-family: Verdana;'><label for='Mobile'>Phone<span style='color:red;'>*</span></label></div><div class='zcwf_col_fld'><input type='text' id='Mobile' name='Mobile' maxlength='30'></input><div class='zcwf_col_help'> <span title='&#x2b;&#x28;49&#x29; 12....' style='cursor: pointer; width: 16px; height: 16px; display: inline-block; background: #fff; border: 1px solid #c0c6cc; color: #c1c1c1; text-align: center; font-size: 11px; line-height: 16px; font-weight: bold; border-radius: 50%;' onclick='tooltipShow5480881000001366769(this)'>?</span><div class='zcwf_tooltip_over' style='display: none;'><span class='zcwf_tooltip_ctn'>&#x2b;&#x28;49&#x29; 12....</span></div></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:16px; font-family: Verdana;'><label for='Email'>Email<span style='color:red;'>*</span></label></div><div class='zcwf_col_fld'><input type='text' ftype='email' id='Email' name='Email' maxlength='100'></input><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:16px; font-family: Verdana;'><label for='LEADCF51'>Age<span style='color:red;'>*</span></label></div><div class='zcwf_col_fld'><input type='text' id='LEADCF51' name='LEADCF51' maxlength='9'></input><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:16px; font-family: Verdana;'><label for='LEADCF14'>Language<span style='color:red;'>*</span></label></div><div class='zcwf_col_fld'><select class='zcwf_col_fld_slt' id='LEADCF14' name='LEADCF14' multiple >
			<option value='German'>German</option>
			<option value='English'>English</option>
			<option value='French'>French</option>
			<option value='Turkish'>Turkish</option>
		</select><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:16px; font-family: Verdana;'><label for='LEADCF19'>Select Service<span style='color:red;'>*</span></label></div><div class='zcwf_col_fld'><select class='zcwf_col_fld_slt' id='LEADCF19' name='LEADCF19'  >
			<option value='-None-'>-None-</option>
			<option value='Breast&#x20;Augmentation'>Breast Augmentation</option>
			<option value='Breast&#x20;reduction'>Breast reduction</option>
			<option value='Breast&#x20;lift'>Breast lift</option>
			<option value='Eyelid&#x20;Surgery'>Eyelid Surgery</option>
			<option value='Facelift'>Facelift</option>
			<option value='Liposuction'>Liposuction</option>
			<option value='Mummy&#x20;makeover'>Mummy makeover</option>
			<option value='Tummy&#x20;tuck'>Tummy tuck</option>
			<option value='But&#x20;Lifting'>But Lifting</option>
			<option value='Rhinoplasty'>Rhinoplasty</option>
			<option value='Implants'>Implants</option>
			<option value='All&#x20;on&#x20;4'>All on 4</option>
			<option value='Hollywood&#x20;Smile'>Hollywood Smile</option>
			<option value='Hair&#x20;Transplant'>Hair Transplant</option>
			<option value='Beards'>Beards</option>
			<option value='Eye&#x20;Laser&#x20;&#x28;LASIK&#x29;'>Eye Laser &#x28;LASIK&#x29;</option>
		</select><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:16px; font-family: Verdana;'><label for='LEADCF32'>Message</label></div><div class='zcwf_col_fld'><textarea id='LEADCF32' name='LEADCF32'></textarea><div class='zcwf_col_help'></div></div></div><div class='zcwf_row'><div class='zcwf_privacy'><div class='dIB vat' align='left'><div class='displayPurpose  f13'><label class='newCustomchkbox-md dIB w100per'><input autocomplete='off' id='privacyTool5480881000001366769' type='checkbox' name='privacyTool' onclick='disableErr5480881000001366769()'></label></div></div><div class='dIB zcwf_privacy_txt' style='font-size: 16px;font-family:Verdana;color: black;'><div style='font-family: Verdana,arial,Helvetica,sans-serif;'><br><span style='background-color: rgb(255, 255, 255); color: rgb(54, 66, 89); font-family: Lato, sans-serif; font-size: 14px;'>I agree to&nbsp;</span><a href='https://www.medyu.com/terms-of-service' title='' data_issistrackenabled='false' data_siqtrackparam='null' target='_blank' style='font-family: Lato, sans-serif; font-size: 14px; box-sizing: border-box;'><span class='textlink' style='box-sizing: border-box; color: rgb(71, 84, 255);'>Medyu's Terms and conditions</span></a><span style='background-color: rgb(255, 255, 255); color: rgb(54, 66, 89); font-family: Lato, sans-serif; font-size: 14px;'>, I have read the&nbsp;</span><a href='https://www.medyu.com/privacy-policy' title='' data_issistrackenabled='false' data_siqtrackparam='null' target='_blank' style='font-family: Lato, sans-serif; font-size: 14px; box-sizing: border-box;'><span class='textlink' style='box-sizing: border-box; color: rgb(71, 84, 255);'>Privacy policy</span></a><span style='background-color: rgb(255, 255, 255); color: rgb(54, 66, 89); font-family: Lato, sans-serif; font-size: 14px;'>&nbsp;and I agree that my given details including health data may be processed by Medyu for the purpose of obtaining quotes. This includes the transfer of my data to healthcare providers within and outside the EU. The consent can be revoked at any time with effect for the future.</span></div></div> <div  id='privacyErr5480881000001366769' style='font-size:12px;color:red;padding-left: 5px;visibility:hidden;'>Please accept this</div></div></div><div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:16px; font-family: Verdana;'>Enter the Captcha</div>
	 <div class='zcwf_col_fld'><input type='text' maxlength='10' name='enterdigest' /></div>
	

	 </div>
	<!-- Do not remove this code. -->
	    <div class='zcwf_row'><div class='zcwf_col_lab'></div><div class='zcwf_col_fld'><img id='imgid5480881000001366769' src='https://crm.zoho.com/crm/CaptchaServlet?formId=e8d7d99ebb2df64f2169d328d2e43f3d440762495e984cb0829e9bc85d42da15&grpid=cb3224e2bbbd9e19a0e10ecaa4931ddacaceb973cee42e9bd7e36fa287c7aedb'>
	    <a href='javascript:;' onclick='reloadImg5480881000001366769();'>Reload</a></div><div class=''></div>
	</div>
<div class='zcwf_row wfrm_fld_dpNn'><div class='zcwf_col_lab' style='font-size:16px; font-family: Verdana;'><label for='Lead_Source'>Lead Source</label></div><div class='zcwf_col_fld'><select class='zcwf_col_fld_slt' id='Lead_Source' name='Lead Source'  >
			<option value='-None-'>-None-</option>
			<option value='Chat'>Chat</option>
			<option value='Facebook'>Facebook</option>
			<option value='Website'>Website</option>
			<option value='Instagram'>Instagram</option>
			<option value='Whatsapp'>Whatsapp</option>
			<option value='Google&#x20;Ads'>Google Ads</option>
			<option value='Email'>Email</option>
			<option value='Reference'>Reference</option>
			<option value='Direct&#x20;Call'>Direct Call</option>
			<option value='Twitter'>Twitter</option>
			<option value='Google&#x20;AdWords'>Google AdWords</option>
		<option selected value='Website&#x20;Form'>Website Form</option>
			<option value='Facebook&#x2f;Reddit&#x20;Groups'>Facebook&#x2f;Reddit Groups</option>
		</select><div class='zcwf_col_help'></div></div></div><div class='zcwf_row'><div class='zcwf_col_lab'></div><div class='zcwf_col_fld'><input type='submit' id='formsubmit' class='formsubmit zcwf_button' value='Submit' title='Submit'><input type='reset' class='zcwf_button' name='reset' value='Reset' title='Reset'></div></div>
	<script>
		function privacyAlert5480881000001366769()
		{
			var privacyTool = document.getElementById('privacyTool5480881000001366769');
			var privacyErr = document.getElementById('privacyErr5480881000001366769');
			if(privacyTool !=undefined && !privacyTool.checked )
			{
				privacyErr.style.visibility='visible';
				privacyTool.focus();
				return false;
			}
			return true;
		}
		function disableErr5480881000001366769()
		{
			var privacyTool = document.getElementById('privacyTool5480881000001366769');
			var privacyErr = document.getElementById('privacyErr5480881000001366769');
			if(privacyTool !=undefined && privacyTool.checked && privacyErr !=undefined )
			{
				privacyErr.style.visibility='hidden';
			}
		}

	 /* Do not remove this code. */
	function reloadImg5480881000001366769() {
		var captcha = document.getElementById('imgid5480881000001366769');
		if(captcha.src.indexOf('&d') !== -1 ) {
			captcha.src = captcha.src.substring(0, captcha.src.indexOf('&d'))+'&d'+new Date().getTime();
		}else{
			captcha.src = captcha.src+'&d'+new Date().getTime();
		}
	}
	function validateEmail5480881000001366769()
	{
		var form = document.forms['WebToLeads5480881000001366769'];
		var emailFld = form.querySelectorAll('[ftype=email]');
		var i;
		for (i = 0; i < emailFld.length; i++)
		{
			var emailVal = emailFld[i].value;
			if((emailVal.replace(/^\s+|\s+$/g, '')).length!=0 )
			{
				var atpos=emailVal.indexOf('@');
				var dotpos=emailVal.lastIndexOf('.');
				if (atpos<1 || dotpos<atpos+2 || dotpos+2>=emailVal.length)
				{
					alert('Please enter a valid email address. ');
					emailFld[i].focus();
					return false;
				}
			}
		}
		return true;
	}

 	  function checkMandatory5480881000001366769() {
		var mndFileds = new Array('First Name','Last Name','Email','Mobile','LEADCF13','LEADCF14','LEADCF19','LEADCF51');
		var fldLangVal = new Array('Name','Surname','Email','Phone','Preferred\x20contact\x20channel','Language','Select\x20Service','Age');
		for(i=0;i<mndFileds.length;i++) {
		  var fieldObj=document.forms['WebToLeads5480881000001366769'][mndFileds[i]];
		  if(fieldObj) {
			if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {
			 if(fieldObj.type =='file')
				{ 
				 alert('Please select a file to upload.'); 
				 fieldObj.focus(); 
				 return false;
				} 
			alert(fldLangVal[i] +' cannot be empty.'); 
   	   	  	  fieldObj.focus();
   	   	  	  return false;
			}  else if(fieldObj.nodeName=='SELECT') {
  	   	   	 if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
				alert(fldLangVal[i] +' cannot be none.'); 
				fieldObj.focus();
				return false;
			   }
			} else if(fieldObj.type =='checkbox'){
 	 	 	 if(fieldObj.checked == false){
				alert('Please accept  '+fldLangVal[i]);
				fieldObj.focus();
				return false;
			   } 
			 } 
			 try {
			     if(fieldObj.name == 'Last Name') {
				name = fieldObj.value;
 	 	 	    }
			} catch (e) {}
		    }
		}
		trackVisitor5480881000001366769();
		if(!validateEmail5480881000001366769()){return false;}
		
		if(!privacyAlert5480881000001366769()){return false;}
		document.querySelector('.crmWebToEntityForm .formsubmit').setAttribute('disabled', true);
	}

function tooltipShow5480881000001366769(el){
	var tooltip = el.nextElementSibling;
	var tooltipDisplay = tooltip.style.display;
	if(tooltipDisplay == 'none'){
		var allTooltip = document.getElementsByClassName('zcwf_tooltip_over');
		for(i=0; i<allTooltip.length; i++){
			allTooltip[i].style.display='none';
		}
		tooltip.style.display = 'block';
	}else{
		tooltip.style.display='none';
	}
}
</script><script type='text/javascript' id='VisitorTracking'>var $zoho= $zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode:'05f8971f4a4b7883f4607ba85fabed74b62964c28c099575959f1bca0fae37c17c4a23733e66094649d4daf0b67d8b38', values:{},ready:function(){}};var d=document;s=d.createElement('script');s.type='text/javascript';s.id='zsiqscript';s.defer=true;s.src='https://salesiq.zoho.com/widget';t=d.getElementsByTagName('script')[0];t.parentNode.insertBefore(s,t);function trackVisitor5480881000001366769(){try{if($zoho){var LDTuvidObj = document.forms['WebToLeads5480881000001366769']['LDTuvid'];if(LDTuvidObj){LDTuvidObj.value = $zoho.salesiq.visitor.uniqueid();}var firstnameObj = document.forms['WebToLeads5480881000001366769']['First Name'];if(firstnameObj){name = firstnameObj.value +' '+name;}$zoho.salesiq.visitor.name(name);var emailObj = document.forms['WebToLeads5480881000001366769']['Email'];if(emailObj){email = emailObj.value;$zoho.salesiq.visitor.email(email);}}} catch(e){}}</script>
	<!-- Do not remove this --- Analytics Tracking code starts --><script id='wf_anal' src='https://crm.zohopublic.com/crm/WebFormAnalyticsServeServlet?rid=e8d7d99ebb2df64f2169d328d2e43f3d440762495e984cb0829e9bc85d42da15gidcb3224e2bbbd9e19a0e10ecaa4931ddacaceb973cee42e9bd7e36fa287c7aedbgid885e3c1045bd9bdcc91bdf30f82b5696gid14f4ec16431e0686150daa43f3210513&tw=61690b96c1d0471b638f31426f38e68aa67fb7ed6da86f32dc10ad817fe55a0a'></script><!-- Do not remove this --- Analytics Tracking code ends. --></form>
  <!-- Do not remove this code. -->
     <iframe name='captchaFrame' style='display:none;'></iframe>
</div>